body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f7f7f7;
}

header {
	background-image: url(blob:chrome-untrusted://media-app/4e5c8d5f-535d-48e0-82d4-e6d9ef728e04);
	color: #fff;
	padding: 20px;
	text-align: center
